# Frontend (Streamlit UI)
streamlit
# python version 3.13.3
cohere
hnswlib
chromadb
unstructured
unstructured[pdf]
pymupdf # Similar to unstructured, but also helps with highlighting
langchain
python-dotenv
numpy
pandas
mysql-connector-python==9.3.0
sqlalchemy
# mysqlclient
sqlparse

streamlit-modal
streamlit-navigation-bar
st-theme
requests
python-dotenv
markdown